{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" data-spy="scroll" data-target="#main-navbar">
  <header class="header bg-white fixed-top" >
    {% block header %}
      <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light" role="navigation" id="main-navbar">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-brand">
            <h1 class="h4" role="banner">
              <a href="{{site.url}}" rel="home">
                <div class="logo">
                {% if logo %}
                  <img src="{{logo}}" alt="{{site.name}}">
                  {% else %}
                  <img src="{{theme.uri}}/build/svg/logo.svg">
                  {% endif %}
                </div>
                <div class="name">
                  {{site.name}}<br>
                  <small class="text-gray">18-19 March 2017 - MuDA</small>
                </div>
              </a>
            </h1>
          </div>
          <div class="collapse navbar-collapse" id="navbarMain">
            {% include "menu.twig" with {'menu': menu.get_items} %}
          </div>
        </nav>
      </div>
    {% endblock %}
  </header>

  {% block jumbotron %}{% endblock %}

  <section id="content" role="main" class="content-wrapper bg-white py-5">
    {% if title %}<h1>{{title}}</h1>{% endif %}
      <div class="container">
        <div class="col-md-12">
          {% block content %}
            Sorry, no content
          {% endblock %}
        </div>
        {% if sidebar %}
          <aside class="layout-sidebar">
            {{sidebar}}
          </aside>
        {% endif %}
      </div>
    </div>
  </section>

  {% block after_content %}{% endblock %}

  {% block footer %}
    <footer class="footer py-5" id="footer">
      <div class="container">
        <div class="col-md-12">
          {% include 'footer.twig' %}
        </div>
      </div>
    </footer>
    {{ function('wp_footer') }}
  {% endblock %}
  {% block js %}{% endblock %}
</body>
</html>
