{% extends "base.twig" %}
{% import "macros.twig" as macros %}

{% block jumbotron %}
<div class="jumbotron" id="about">
  <div class="container">
    <h2 class="mb-5 text-primary">{{post.intro}}</h2>
    <div class="intro-content content">
      {{post.content}}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <section id="artists">
  	{% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with { 'loop': loop } %}
  	{% endfor %}
  </section>
{% endblock %}

{% block after_content %}
  <section id="tickets" class="py-5">
    <div class="container">
      <h2 class="text-primary pt-5">Our well priced tickets</h2>

      <div class="price-list py-5">
        {{ macros.price('010', 'Ten Swiss Francs', 'Daytime only') }}
        {{ macros.price('020', 'Twenty Swiss Francs', 'Concerts only') }}
        {{ macros.price('030', 'Thirty Swiss Francs', 'Full day ticket<br>(Daytime and concert)') }}
        {{ macros.price('035', 'Thirty-five Swiss Francs', 'Week-end pass<br>(= Best deal)', 'CHF', true) }}
      </div>
    </div>
  </section>

  <section class="map" id="info">
    <div class="map-map" id="map"></div>
    <div class="map-content bg-white">
      <h2 class="pb-5 text-primary">Timing and Location</h2>
      <p class="h3">18-19 March 2017<br>MuDA</p>
      <address>
        Museum of Digital Art<br>
        Pfindgstweidstrasse 101<br>
        8005 Zürich
      </address>
    </div>
    <script>
      function initMap() {
        var muda = {lat: 47.390195, lng: 8.508862};
        var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var styledMapType = new google.maps.StyledMapType(
          [
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e9e9e9"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 29
                    },
                    {
                        "weight": 0.2
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 18
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dedede"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#333333"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                ]
            }
        ]
          ,
          {name: 'Styled Map'});
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: width < 576 ? muda : {lat: 47.3933065, lng:8.54807},
          scrollwheel: false,
          zoomControl: false,
          streetViewControl: false,
          mapTypeControlOptions: {
            mapTypeIds: [],
          }
        });
        var marker = new google.maps.Marker({
          position: muda,
          map: map
        });
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUctRCUPGVJhdTeKKoC-sgtWqerFl0TS8&callback=initMap">
    </script>
  </section>

{% endblock %}
