{% extends "base.twig" %}
{% import "partials/macros.twig" as macros %}

{% block jumbotron %}
<div class="jumbotron" id="about">
  <div class="container">
    <h2 class="mb-5 text-primary">{{post.intro}}</h2>
    <div class="intro-content content">
      {{post.content}}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <section id="artists">
  	{% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with { 'loop': loop } %}
  	{% endfor %}
  </section>
{% endblock %}

{% block after_content %}
  <section id="tickets" class="py-5">
    <div class="container">
      <h2 class="text-primary pt-5">Our well priced tickets</h2>

      <div class="price-list py-5">
        {{ macros.price('010', 'Ten Swiss Francs', 'Saturday Daytime only') }}
        {{ macros.price('020', 'Twenty Swiss Francs', 'Saturday Concerts only') }}
        {{ macros.price('030', 'Thirty Swiss Francs', 'Saturday Full day<br>(Daytime and concerts)') }}
        {{ macros.price('005', 'Five Swiss Francs', 'Sunday<br>(Daytime only)', 'CHF') }}
      </div>
    </div>
  </section>

  <section class="map" id="info">
    <div class="map-map" id="map"></div>
    <div class="map-content bg-white">
      <h2 class="pb-5 text-primary">Timing and Location</h2>
      <p class="h3">28-30 September 2018<br>MuDA</p>
      <address>
        Museum of Digital Art<br>
        Pfingstweidstrasse 101<br>
        8005 Zürich
      </address>
      <p>Friday 19:00 - 23:00<br>Saturday 11:00 - 24:00<br>Sunday 12:00 - 18:00</p>
    </div>

    {% include 'partials/map.twig' %}

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUctRCUPGVJhdTeKKoC-sgtWqerFl0TS8&callback=initMap">
    </script>
  </section>

{% endblock %}
