{% extends "tease.twig" %}

{% block content %}
  <div class="row py-5">
    <div class="col-sm-8">
      <span class="text-primary">{{ loop.index|format_int }}.</span>
      <h3 class="h2 text-primary">{{post.title}}</h3>
      {% if post.time %}
      <p class="mb-5"><strong>
        <time datetime="{{ post.time|date('c') }}">
          {{ post.time|date('m/d/Y H:i') }}
        </time>
        {% if post.duration %}
        — Duration: {{ post.duration|date('H:i') }}
        {% endif %}
        [{% if post.free %}Free{% elseif post.price %}CHF {{ post.price }}.-{% endif %}]
      </strong></p>
      {% endif %}

      {{ post.description|the_content }}

      {% set links = post.get_field('links') %}
      <ul class="list-arrow">
        {% if links.0.label %}
        {% for link in links %}
        <li>
          <a href="{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endfor %}
        {% endif %}
        {% if post.registration %}
        <li>
          <a href="{{ registration_page.link }}?workshop={{ post.ID }}">Registration</a>
        </li>
        {% endif %}
      </ul>


      {% if post.can_edit %} <a class="btn btn-info btn-sm mt-2" href="{{post.get_edit_url}}">Edit</a>{% endif %}

    </div>
    <div class="col-6 col-sm-4">
      {% set image = post.get_field('image') %}
      <div class="img-losange">
        <img class="img-fluid" src="{{ image ? image.sizes.artist_square : site.theme.link ~ '/build/img/black.png' }}" alt="{{ image.alt }}">
      </div>
    </div>
  </div>
{% endblock %}
